fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
librosa==0.10.2
numpy==1.26.4
scipy==1.13.1
soundfile==0.12.1
scikit-learn==1.5.2
tensorflow==2.15.0
keras==2.15.0
requests==2.32.3
h5py==3.10.0
matplotlib==3.8.1

